# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BoostApplication.sdf
BoostApplication.sln
BoostApplication/BoostApplication.vcxproj
BoostApplication/BoostApplication.vcxproj.filters
BoostApplication/x64/Debug/BoostApplication.tlog/BoostApplication.lastbuildstate
BoostApplication/x64/Debug/BoostApplication.tlog/CL.command.1.tlog
BoostApplication/x64/Debug/BoostApplication.tlog/CL.read.1.tlog
BoostApplication/x64/Debug/BoostApplication.tlog/CL.write.1.tlog
BoostApplication/x64/Debug/BoostApplication.tlog/link.command.1.tlog
BoostApplication/x64/Debug/BoostApplication.tlog/link.read.1.tlog
BoostApplication/x64/Debug/BoostApplication.tlog/link.write.1.tlog
BoostApplication/x64/Debug/vc140.idb
BoostApplication/html/
BoostApplication/include/Eigen/
BoostApplication/include/
BoostApplication/Windows/
BoostApplication/x64/Debug/vc140.pdb
x64/Debug/BoostApplication.ilk
x64/Debug/BoostApplication.pdb
BoostApplication/x64/Debug/BoostApplication.log
BoostApplication/BoostApplication.vcxproj.user
.vs/BoostApplication/v14/.suo
BoostApplication.VC.db
